/*Importing font*/
@import url('https://fonts.googleapis.com/css2family=Merriweather:ital@1&family=Montserrat&family=Nanum+Gothic:wght@700&family=Noto+Sans+Armenian&display=swap');

/*Specific CSS for Different Elements*/
body, html {
  height: 100vh;
  overflow: auto;
}

* {
  color: f2f2f2;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  text-align: center;
  color: #8c1c1f;
}

.par, p {
  font-family: 'Montserrat', sans-serif;
}

.par {
  padding: 10px 50px 20px;
  text-align: center; 
  position: relative;
}

/*CSS for Subtopics in the Homepage*/
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  margin-top: 20px;
  padding: 0 10px;
}

.card img {
  width: 100%;
  height: 12em;
}

.cardcontainer {
  padding: 0 16px;
}

.cardcontainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  text-align: center;
  margin: 10px
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  margin-top: 20px;
}

.button:hover {
  background-color: rgba(87, 0, 0, 0.7);
}

/*CSS for Marcos Regime Column*/
.MRcolumn {
  float: left;
  width: 50%;
  margin-top: 102px;
  margin-bottom: 16px;
  padding: 0 10px;
  position: relative;
}

.MRcard img {
  width: 100%;
  height: 12em;
}

.MRcardcontainer {
  padding: 0 16px;
}

.MRcardcontainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/*CSS for Martial Law and People Power Content*/
.MRtextbox {
  position: relative;
}

.MLnumbers {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}